@import "./variables.scss";
.content_1_wrapper {
  position: relative;
  min-height: 850px;
  margin-top: 100px;
  padding: 150px 0;
  h1,
  h3 {
    font-family: $secondary_font;
    font-weight: bold;
  }
}
.content_1_container {
  @include Container();
  color: $body_copy;
  font-size: 1.2em;
}
.mobile_image {
  display: none;
  width: 100%;
  @media all and (max-width: 375px) {
    display: block;
  }
}
.content_1_title {
  width: 100%;
  margin-bottom: 70px;
  text-align: center;
}
.editeur_image {
  position: absolute;
  top: 5%;
  right: -20%;
  z-index: -1;
  @media all and (max-width: 375px) {
    display: none;
  }
}
.describe {
  margin-top: 40px;
  font-weight: 500;
  padding: 15px 30px;
  max-width: 550px;
  font-family: $secondary_font;
  padding: 0 30px;
  p {
    line-height: 30px;
    font-size: 0.8em;
    margin-top: 25px;
  }
  h1 {
    font-size: 2.2rem;
    font-weight: 500;
  }
}
.content_2_wrapper {
  position: relative;
  width: 100%;
  margin-top: 50px;
  background-image: linear-gradient(
    to right,
    $Background_gradient_body_light,
    $Background_gradient_body_main
  );
  //padding: 0 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.content_2_container {
  @include Container();
  color: $Header_Font_color;
  width: 100%;
  min-height: 390px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.phone_image {
  display: relative;
  width: 50%;
  height: 300px;
  margin-bottom: 50px;
  padding: 0;
  img {
    display: absolute;
    transform: translateY(-130px);
  }
}
.content_3_wrapper {
  position: relative;
  width: 100%;
  min-height: 800px;
  margin-top: 150px;
  color: $body_copy;
  display: flex;
  align-items: center;
}
.labtop_image {
  position: absolute;
  top: 0;
  left: -21%;
  z-index: -1;
}
.content_3_container {
  @include Container();
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

@media all and(max-width: 960px) {
  .editeur_image,
  .labtop_image {
    display: none;
  }
  .mobile_image {
    display: block;
  }
  .content_1_container,
  .content_2_container,
  .content_3_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content_2_container {
    justify-content: space-around;
    padding: 100px 0;
  }
  .phone_image {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 0;
    img {
      width: 400px;
      transform: translateY(-60%);
    }
  }
}
