@import "./variables.scss";
.Header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 0 25px;
}
.logo {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: $primary_font;
}
.nav_container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  list-style-type: none;
  cursor: pointer;
}
.Nav_item {
  position: relative;
  position: relative;
  margin-left: 30px;
  svg {
    margin-left: 5px;
    transition: 200ms all ease;
  }
  button {
    border: none;
    color: #fff;
    font-weight: 500;
    background: none;
    cursor: pointer;
    &:focus {
      & + ul {
        opacity: 1;
        transform: translateY(0);
        pointer-events: fill;
      }
      & > svg {
        transform: rotate(-180deg);
      }
    }
  }
}
.drop_down_menu {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: ease all 300ms;
  transform: translateY(-10px);
  background: #fff;
  width: 170px;
  border-radius: 5px;
  margin-top: 20px;
  left: -30px;
  list-style-type: none;
  overflow: hidden;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 5px 50px;
  font-weight: 500;
  font-family: $secondary_font;
  li {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    color: black;
    padding: 0 25px;
    &:hover {
      font-weight: 700;
    }
  }
}
.User_regester_btns {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  button {
    @include Button();
    padding: 10px 25px;
    transition: 150ms all ease;
    &:hover {
      background-color: $primary_Main;
    }
    &:active {
      background: $Header_Font_color;
      color: $primary_Main;
    }
  }
}
.menu_toogle img,
#toggle_menu {
  display: none;
}

@media all and (max-width: 720px) {
  .nav_container,
  .nav_bar,
  .User_regester_btns,
  .drop_down_menu {
    flex-direction: column;
    width: 100%;
  }
  .Header {
    padding: 0;
    justify-content: space-around;
  }
  .nav_container {
    position: absolute;
    top: 10rem;
    left: 50%;
    width: 75%;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-50%);
    background-color: #fff;
    text-align: center;
    color: $primary_Main;
    padding: 2rem 0;
    box-shadow: 1px 10px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    button {
      color: black;
      font-size: 1.2em;
      border-radius: 0;
    }
  }
  .User_regester_btns {
    align-items: center;
    margin-top: 2rem;
    button {
      border-radius: 20px;
    }
  }
  .nav_bar {
    margin: 0;
  }
  .Nav_item {
    padding: 1rem 0;
    button {
      &:focus {
        & + ul {
          visibility: visible;
          height: inherit;
          opacity: 1;
        }
      }
    }
  }
  .drop_down_menu {
    position: static;
    padding: 0;
    visibility: hidden;
    height: 0;
    opacity: 0;
    background-color: rgb(239, 293, 241);
    box-shadow: none;
    width: auto;
    margin-right: 3rem;
    border-radius: 0.5px solid black;
    transition: visibility 0s, height 0s, opacity 0.5s linear;
  }
  .menu_toogle {
    img {
      float: right;
      cursor: pointer;
    }
    img:nth-child(2) {
      display: block;
    }
  }
  #toggle_menu:checked ~ .menu_toogle {
    img:nth-child(1) {
      display: block;
    }
    img:nth-child(2) {
      display: none;
    }
  }
  #toggle_menu:checked ~ .nav_container {
    display: none;
  }
}
